{%  extends 'base.html.twig' %}

{% form_theme formContact 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        Envoi d'une demande
    </h1>

    {{ form_start(formContact) }}

    {{ form_row(formContact.name, {'attr': {'placeholder': "Votre Nom"}}) }}
    {{ form_row(formContact.sujet, {'attr': {'placeholder': "Votre Sujet"}}) }}
    {{ form_row(formContact.email, {'attr': {'placeholder': "Votre Email"}}) }}
    {{ form_row(formContact.message, {'attr': {'placeholder': "Votre message"}}) }}
    {{ form_row(formContact.sexe, {'attr': {'placeholder': "Votre Sexe (j'ai voulu faire un select mais j'ai pas réussi)"}}) }}

    <button type="submit" class="btn btn-succes">
        Envoyer
    </button>

    {{ form_end(formContact) }}

{% endblock %}